@page "/"
@using Lineweights.App.Core.Shared
@using Lineweights.Workflows.Assets
@inherits IndexBase

<PageTitle>
  Lineweights@(State.Assets.Count > 0
             ? $" ({State.Assets.Count})"
             : string.Empty)
</PageTitle>

<div class="container is-fluid">
  <div class="columns is-vcentered">

    <div class="column is-narrow">
      <button class="button is-white is-large has-background-light">
        <span class="icon is-medium">
          <i class="mdi mdi-tablet-dashboard"></i>
        </span>
        <span>
          Lineweights
        </span>
      </button>
    </div>

    <div class="column">

    </div>

    <div class="column is-narrow">
      <SignalRComponent></SignalRComponent>
    </div>

  </div>

  <ActivityRunnerComponent></ActivityRunnerComponent>

  @foreach (Asset asset in State.Assets.Reverse())
  {
    <AssetComponent @key="asset.Info.Id" Asset="asset"></AssetComponent>
  }
</div>
