@page "/"
@using Lineweights.App.Core.Shared
@using Lineweights.Workflows.Assets
@inherits IndexBase

<PageTitle>
  Lineweights@(State.Assets.Count > 0
             ? $" ({State.Assets.Count})"
             : string.Empty)
</PageTitle>

<div class="container is-fluid my-5">

  @foreach (Message message in State.Messages)
  {
    <MessageComponent Message="message"></MessageComponent>
  }

  <ActivityRunnerComponent></ActivityRunnerComponent>

  @foreach (Asset asset in State.Assets.Reverse())
  {
    <AssetComponent @key="asset.Info.Id" Asset="asset"></AssetComponent>
  }

</div>
