@page "/"
@using Lineweights.Dashboard.Core.Shared
@using Lineweights.Workflows.Containers
@inherits DashboardBase

<PageTitle>
  Dashboard@(State.Containers.Count > 0
             ? $" ({State.Containers.Count})"
             : string.Empty)
</PageTitle>

<div class="container is-fluid">
  <div class="columns is-vcentered">

    <div class="column is-narrow">
      <button class="button is-white is-large has-background-light">
        <span class="icon is-medium">
          <i class="mdi mdi-tablet-dashboard"></i>
        </span>
        <span>
          Dashboard
        </span>
      </button>
    </div>

    <div class="column">

    </div>

    <div class="column is-narrow">
      <SignalRComponent></SignalRComponent>
    </div>

  </div>

  <ActivityRunnerComponent></ActivityRunnerComponent>

  @foreach (Container container in State.Containers.Reverse())
  {
    <ContainerComponent @key="container.Info.Id" Container="container"></ContainerComponent>
  }
</div>
