@using StudioLE.Core.Results
@inherits DynamicViewerComponentBase

@if (Factory.Result.Errors.Any())
{
  <TileComponent XScale="1" YScale="1" style="background: var(--mud-palette-error); color:  var(--mud-palette-error-text);">
    @foreach (string error in Factory.Result.Errors)
    {
      <p>@error</p>
    }
  </TileComponent>
}

<DynamicComponent Type="ComponentType" Parameters="ComponentParameters"/>


