@inherits StringAssetComponentBase

<TileComponent XScale="1" YScale="0.5">
  <DeferExecutionComponent Factory="Factory" AfterExecution="AfterExecution">
    <div class="card-content">
      @Content
    </div>
  </DeferExecutionComponent>
</TileComponent>
