@inherits SignalRComponentBase

<p class="tags has-addons">
  <span class="tag">
    status
  </span>
  @if (SignalR.IsWebAssembly)
  {
    <span class="tag is-info">
      web assembly
    </span>
  }
  else if (SignalR.IsConnected)
  {
    <span class="tag is-success" @onclick="SignalR.Disconnect">
      connected
    </span>
  }
  else
  {
    <span class="tag is-danger" @onclick="SignalR.Connect">
      disconnected
    </span>
  }
</p>
