@charset "utf-8";

$body-size: 14px;

$primary: #ee6c4d;

$info: #98c1d9;
$success: #2a9d8f;
$warning: #f4a261;
$danger: #e76f51;

$light: #ffffff;
$darkest: #121a26;
$dark: #3c4450;
$navy: #364e72;
$light-navy: #929FB1;

// Invert colors
//
//$primary-invert: findColorInvert($primary) !default
//$primary-light: findLightColor($primary) !default
//$primary-dark: findDarkColor($primary) !default
//$info-invert: findColorInvert($info) !default
$info-light: $info;
$info-dark: $darkest;
//$success-invert: findColorInvert($success) !default
$success-light: $success;
$success-dark: $darkest;
//$warning-invert: #ff0000;
$warning-light: $warning;
$warning-dark: $darkest;
//$danger-invert: findColorInvert($danger) !default
$danger-light: $danger;
$danger-dark: $light;
//$light-invert: findColorInvert($light) !default
//$dark-invert: findColorInvert($dark) !default

// General colors

$scheme-main: $darkest;
$scheme-main-bis: $navy;
//$scheme-main-ter: $darkest;
//$scheme-invert: $black !default
//$scheme-invert-bis: $black-bis !default
//$scheme-invert-ter: $black-ter !default
//
$background: #ff0000;
//
$border: $navy;
//$border-hover: $grey-light !default
//$border-light: $grey-lightest !default
//$border-light-hover: $grey-light !default

// Text colors

$text: $light-navy;
//$text-invert: findColorInvert($text) !default
//$text-light: $grey !default
$text-strong: $light-navy;

// Code colors

//$code: darken($red, 15%) !default
$code-background: $darkest;
//$pre: $text !default
$pre-background: $darkest;

// Link colors

$link: $primary !default
$link-hover: $navy !default

// Typography

//$family-primary: $family-sans-serif !default
//$family-secondary: $family-sans-serif !default
//$family-code: $family-monospace !default

@import "../node_modules/@mdi/font/scss/materialdesignicons.scss";
@import "../node_modules/bulma/bulma.sass";
@import "blazor.scss";
@import "asset-component.scss";
@import "runner-component.scss";

html, body {
    background-color: $dark;
}

.card.major, .card.minor {
    border: 1px solid $dark;
}

figure.card-image:hover {
    background-color: $navy;
}

.card-header {
    border-bottom: 1px solid $dark;
}

.card-footer {
    border-top: 1px solid $dark;
}

.form-container {
    border-bottom: 1px solid $dark;
}
